{% extends 'admin.twig' %}

{% block content %}

<div class="card">
    <div class="card-content">
      <div style="float:right">
        <a style="text-decoration:none" href="https://digitalist.cloud/">
          <img src="plugins/ExtraTools/assets/dot.png" height="40" />
        </a>
      </div>
      <h2>{{ 'ExtraTools_Invalidations'|translate }}</h2>
   <table id="results" onchange="unCheckAll()" piwik-content-table>
        <thead>
            <tr>
                <th class="center">Site</th>
                <th class="center">Period</th>
                <th class="center">From</th>
                <th class="center">To</th>
                <th class="center">Invalidated</th>
                <th class="center">Started</th>
                <th class="center">Info/Segment</th>

            </tr>
        </thead>
        <tbody>
        {% for archive in archivers %}
            <tr>
                <td>{{ archive.idsite }}</td>
                <td>{{ archive.period }}</td>
                <td>{{ archive.date1 }}</td>
                <td>{{ archive.date2 }} </td>
                <td>{{ archive.ts_invalidated }}</td>
                <td>{{ archive.ts_started }}</td>
                <td>{{ archive.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
</div>
{% endblock %}

